@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
header{
    width: 1872px;
    height: 72px;
    background-color: #fff;
    margin: auto;
    display: flex;
    align-items: center;
}
section{
    width: 1872px;
    height: 340px;
    background-color: #Fff;
    margin: auto;
    margin-top: 24px;
}
.column{
    width: 768px;
    height: 212px;
    padding-top: 64px;
    margin: auto;
    text-align: center;
}
.Portfolio{
    width: 1872px;
    height: 948px;
    background-color: #Fff;
    margin: auto;
    margin-top: 24px;
}
.Content{
    width: 1744px;
    height: 631px;
    margin: auto;
    margin-top: 80px;
    display: flex;
}
.card{
    width: 560px;
    height: 631px;
    border-radius: 6px;
    border: 2px solid #F4F4F4;
}
.tag{
    min-width: 90px;
    height: 29px;
    border-radius: 6px;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: 8px;
    background-color: #F4FAFF;
}
.price{
    width: 1872px;
    height: 737px;
    background-color: #fff;
    margin: auto;
    margin-top: 24px;
}
.price-content{
    display: flex;
    width: 1744px;
    height: 162px;
    margin: auto;
}
.price-card{
    width: 560px;
    height: 162px;
    border: 2px solid #F4F4F4;
    border-radius: 6px;
}
.Contact{
    width: 1872px;
    height: 623px;
    background-color: #Fff;
    margin: auto;
    margin-top: 24px;
}
.contacts-content{
    width: 560px;
    height: 210px;
    border: 2px solid #F4F4F4;
    border-radius: 6px;
}
.contacts-col{
    margin-left: 64px;
}
footer{
    width: 1872px;
    height: 229px;
    background-color: #Fff;
    margin: auto;
    margin-top: 24px;
}
.testimonial{
    width: 1872px;
    height: 803px;
    background-color: #Fff;
    margin: auto;
    margin-top: 24px;
}
.section-title{
    text-align: center;
    padding: 112px;
}
.login-page{
    width: 803px;
    height: 803px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 24px;
}
